<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
 <div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5 animated fadeInUp">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"></span>
                    <%= f.text_field :first_name,
                    class: "form-control", 
                    placeholder: "First Name",
                    required: true %>
                </div>    
              </div>    

            
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"></i></span> 
                  <%= f.text_field :last_name,
                  class: 'form-control', 
                  placeholder: "Last Name",
                  required: true %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"></span>  
                    <%= f.email_field :email, 
                    class: 'form-control', 
                    placeholder: "Email Address",
                    required: true %>
                </div>
              </div>  

               <hr>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"></i></span>
                  <%= f.password_field :password, 
                  class: 'form-control', 
                  placeholder: "Password",
                  required: true %>
                </div>
              </div>  
            
            
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"></i></span>
                  <%= f.password_field :password_confirmation, 
                  class: 'form-control', 
                  placeholder: "Confirm Password",
                  required: true%>
                </div>
              </div>
            
              <%= f.submit "Sign Up", class:"btn btn-primary btn-block btn-lg" %>
            <% end %>
  
          <br>
          <%# <div class="text-center">Already have an account? <a href="#">Login here</a></div> %>
          <div class="text-center">
            <%="Already have an account?" %>
            <%= link_to "Login here.", '/users/sign_in',{:style=>'color:#007bff;'}%> 
          </div>
        <br>

        <div class="text-center">
						<%- if devise_mapping.omniauthable? %>
  					<%- resource_class.omniauth_providers.each do |provider| %>
    				<%# <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}".html_safe, omniauth_authorize_path(resource_name, provider), {:style=>'color:#007bff;'}%>
            <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-social btn-facebook btn-md' do %>
              <i class="fa fa-facebook"></i> | Connect with Facebook
              <% end %>
  					<% end %>
            <% end %>
					</div>  
</body>

<%#= render "devise/shared/links" %>
