<style>
    body{
        padding-top: 100px;
        padding-bottom: 100px;
        /*padding: 0;*/
        margin: 0;
        font-family: sans-serif;
    }
    
    h1{
        font-size: 48pt;
        font-weight: 600;
    }
    
    h2{
        font-size: 24pt;
        font-weight: 600;
    }
    
    h3{
        font-size: 12pt;
        font-weight: 300;
    }
    
    h4{
        font-size: 8pt;
        font-weight: 300;
    }
    
    .content-container{
        width: 50%;
        padding: 4%;
        margin: auto;
        border-style: solid;
        border-width: 1px;
        border-color: #426EDB;
        border-radius: 20px;
        /*background-color: #426EDB;*/
    }
    
    .content-container > div{
        padding-top: 50px;
        margin: auto;
    }
</style>
    
<body>
    <div class="content-container">
        <div class="header">
            <h1> Log Sent Date </h1>
        </div>
        <div class="form">
            <%@order_up = Order.find_by(id: params[:id])%>
            <%= form_for(@order_up, url: "/update_order/#{@order_up.id}", method: :put) do |f| %>
                <%= f.text_field :sent_date, 'data-behaviour' => 'datepicker', class: "field-t", :required => true, autocomplete: "off", placeholder: "Sent Date"%>
                    <script type="text/javascript">
                        $('[data-behaviour~=datepicker]').datepicker({
                            startDate: '1d',
                            endDate: '+30d'
                        });
                    </script>
                <%= f.text_field :delivered_date, 'data-behaviour' => 'datepicker', class: "field-t", :required => true, autocomplete: "off", placeholder: "Delivered Date"%>
                    <script type="text/javascript">
                        $('[data-behaviour~=datepicker]').datepicker({
                            startDate: '1d',
                            endDate: '+30d'
                        });
                    </script>
            
                <!--<p> <%= f.text_field :delivered_date, class: "form-control", placeholder: "Delivered Date"%></p>-->
                    <%= f.hidden_field :id, value: Order.find_by(id: params[:id]).id%>
                    <%= f.submit "Save Changes", class: "btn btn-primary btn-sm col-sm-2" %>
            
                <% puts @order_up.errors.messages %>
            <%end%>
            <%= form_for(:anything, url: admin_path, method: :get) do |f| %>
                <%=f.submit "Cancel", class: "btn btn-link px-5"%>
            <%end%>
        </div>
    </div>
</body> 