<body>
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5 animated fadeInUp">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Forgot your password?</h5>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
					<%= f.email_field :email,
						class: "form-control", 
						placeholder: "Account Email",
						required:"required"%> 
				</div>
				</div> 

  <%= f.submit "Reset my Password", class: "btn btn-primary btn-block btn-lg" %>
<% end %>
 <br>
<%= render "devise/shared/links" %>
