
<style>
    body{
        padding-top: 100px;
        padding-bottom: 100px;
        /*padding: 0;*/
        margin: 0;
        font-family: sans-serif;
    }
    
    h1{
        font-size: 48pt;
        font-weight: 600;
    }
    
    h2{
        font-size: 24pt;
        font-weight: 600;
    }
    
    h3{
        font-size: 12pt;
        font-weight: 300;
    }
    
    h4{
        font-size: 8pt;
        font-weight: 300;
    }
    
    .content-container{
        width: 50%;
        padding: 4%;
        margin: auto;
        border-style: solid;
        border-width: 1px;
        border-color: #426EDB;
        border-radius: 20px;
        /*background-color: #426EDB;*/
    }
    
    .content-container > div{
        padding-top: 50px;
        margin: auto;
    }
    
    .unchangeable-details{
        padding-top: 0;
        margin: auto;
        width: 100%;
    }
    
    .set-date-freq{
        /*display: inline-block;*/
        width: 100%;
    }
    
    .set-freq{
        padding-top: 25px;
    }
    
    .set-length{
        padding-top: 25px;
    }
    
    .table{
        width: 100%;
    }
    
    .field-t{
        border-style: none;
        border-bottom: solid;
        border-color: #426EDB;
        border-radius: 0;
    }
    
    .checkout-button{
        width: 100%;
        max-width: 100%;
    }
    
    
    
</style>
<body>
    <div class="content-container">
        <div class="unchangeable-details">
            <h1>Set Up Subscription</h1> 
            <h2><%@property = Property.find_by(id: params[:id])%> <%=@property.address%> <br> <%=@property.city%>, <%=@property.state%> <%=@property.zipcode%></h2>
        </div>
        <div class="set-date-freq">
            <div class="set-date">
                <%session[:property] = @property.id%>
                <!-- FIXME: Give order property field -->
                <%@order = Order.new%>

                <script>
                    $('#datepicker').datepicker({
                        startDate: '+1d'
                    });
                </script>

                <%= form_for(@order, url: checkout_path(@order)) do |f| %>
                    <!-- TODO: Need to know what field to be submitted as, formatting -->
                    <h2>Schedule Deliveries</h2>
                    <h3>Select Subscription Start Date</h3>
                    <%= f.text_field :start_date, id: "StartDate", 'data-behaviour' => 'datepicker', class: "field-t", :required => true, autocomplete: "off" %>
                    <script type="text/javascript">
                        $('[data-behaviour~=datepicker]').datepicker({
                            startDate: '-1d',
                            endDate: '+30d'
                        });
                    </script>


            </div>
            <div class="set-freq">
                <!-- TODO: Formatting -->
                
                <%# <h3>Send Filter Every </h3>  %>
                <h3>Send Filter Every <%= f.select :filter_freq, [0,1, 2, 3, 4, 6, 12], {class: "form-control dropdown col-md-4 field-t"}, :required => true, id: "FilterFreq"%>  Month(s)</h3>
                <h4>* Select 0 for one time purchase of filter</h4>
            </div>
            <div class="set-length">
               
                <h3>Subscription Length: <%= f.select :sub_freq, [0,1, 2, 3, 4, 6, 12], {class: "form-control dropdown col-md-4 field-t"},:required => true, id: "SubFreq"%> Month(s) </h3>
               
            </div>
        </div>
        
        <div class="filters-table">
            <h2>Select Filter Size And Quantity</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr> 
                        <th class="col-md-5">Filter Dimensions (in.)</th>
                        <th class="col-sm-2">Quantity</th>
                    </tr>
                </thead>
        
                
                <tbody>
                    <tr><td>10x20x1</td><td><%=f.text_field :size10b20, placeholder: "0", id: "size10b20" %></td></tr>
                    <tr><td>12x12x1</td><td><%=f.text_field :size12b12, placeholder: "0", id: "size12b12" %></td></tr>
                    <tr><td>12x20x1</td><td><%=f.text_field :size12b20, placeholder: "0", id: "size12b20" %></td></tr>
                    <tr><td>12x24x1</td><td><%=f.text_field :size12b24, placeholder: "0", id: "size12b24" %></td></tr>
                    <tr><td>12x30x1</td><td><%=f.text_field :size12b30, placeholder: "0", id: "size12b30" %></td></tr>
                    <tr><td>12x36x1</td><td><%=f.text_field :size12b36, placeholder: "0", id: "size12b36" %></td></tr>
                    <tr><td>14x20x1</td><td><%=f.text_field :size14b20, placeholder: "0", id: "size14b20" %></td></tr>
                    <tr><td>14x24x1</td><td><%=f.text_field :size14b24, placeholder: "0", id: "size14b24" %></td></tr>
                    <tr><td>14x25x1</td><td><%=f.text_field :size14b25, placeholder: "0", id: "size14b25" %></td></tr>
                    <tr><td>14x30x1</td><td><%=f.text_field :size14b30, placeholder: "0", id: "size14b30" %></td></tr>
                    <tr><td>15x20x1</td><td><%=f.text_field :size15b20, placeholder: "0", id: "size15b20" %></td></tr>
                    <tr><td>16x20x1</td><td><%=f.text_field :size16b20, placeholder: "0", id: "size16b20" %></td></tr>
                    <tr><td>16x24x1</td><td><%=f.text_field :size16b24, placeholder: "0", id: "size16b24" %></td></tr>
                    <tr><td>16x25x1</td><td><%=f.text_field :size16b25, placeholder: "0", id: "size16b25" %></td></tr>
                    <tr><td>18x18x1</td><td><%=f.text_field :size18b18, placeholder: "0", id: "size18b18" %></td></tr>
                    <tr><td>18x20x1</td><td><%=f.text_field :size18b20, placeholder: "0", id: "size18b20" %></td></tr>
                    <tr><td>18x24x1</td><td><%=f.text_field :size18b24, placeholder: "0", id: "size18b24" %></td></tr>
                    <tr><td>18x25x1</td><td><%=f.text_field :size18b25, placeholder: "0", id: "size18b25" %></td></tr>
                    <tr><td>18x30x1</td><td><%=f.text_field :size18b30, placeholder: "0", id: "size18b30" %></td></tr>
                    <tr><td>20x20x1</td><td><%=f.text_field :size20b20, placeholder: "0", id: "size20b20" %></td></tr>
                    <tr><td>20x24x1</td><td><%=f.text_field :size20b24, placeholder: "0", id: "size20b24" %></td></tr>
                    <tr><td>20x25x1</td><td><%=f.text_field :size20b25, placeholder: "0", id: "size20b25" %></td></tr>
                    <tr><td>20x30x1</td><td><%=f.text_field :size20b30, placeholder: "0", id: "size20b30" %></td></tr>
                    <tr><td>24x24x1</td><td><%=f.text_field :size24b24, placeholder: "0", id: "size24b24" %></td></tr>
                    <tr><td>25x25x1</td><td><%=f.text_field :size25b25, placeholder: "0", id: "size25b25" %></td></tr>
                </tbody>
            </table>
        </div>
        
        <div class="checkout-buttons">
            <%= f.submit "Proceed to Checkout", class: "btn btn-primary btn-md checkout-btn float-right" %>
                                  
            
        </div>
    <%end%>
    <%= form_for(:anything, url: dash_path, method: :get) do |g| %>
        <%=g.submit "Cancel", class: "btn btn-link px-5 "%>
    <%end%>
    </div>
    
</body>
