
<style>
    .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #ecf5ff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
</style>

<%@property = Property.find_by(id: params[:id])%>
<%= form_for(@property, url: property_path(@property), method: :put) do |f| %>
    <div class="container emp-profile animated fadeIn">
                    <div class="row">
                        <!-- Property Image -->
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="https://images.familyhomeplans.com/plans/59952/59952-b600.jpg" alt=""/>
                                <%# <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input type="file" name="file"/>
                                </div> %>
                            </div>
                        </div>
                        <!-- End Property Image -->

                        <!-- Property Name, Address, and Tabs -->
                        <div class="col-md-6">
                            <div class="profile-head">
                                        <h5>
                                             <%=@property.prop_name%>
                                        </h5>
                                        <h6>
                                            <h6><%=@property.address%></h6>
                                            <h6><%=@property.city%>, <%=@property.state%> <%=@property.zipcode%></h6>
                                        </h6>
                                        <%# <p class="proile-rating">RANKINGS : <span>8/10</span></p> %>
                                        <br>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                    </li>
                                    <%# <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Order Info</a>
                                    </li> %>

                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-toggle="tab" href="#address-details" role="tab" aria-controls="profile" aria-selected="false">Address Details</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Property Name, Address, and Tabs --> 
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-work">
                                <p>Date Property Added</p>
                                    <a> <%=@property.created_at%></a>
                                <p>Property Last Updated</p>
                                    <a> <%=@property.updated_at%></a>
                            </div>
                        </div>

                        <!-- Start tab content -->
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Tenant Name</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><%= f.text_field :tenant_name, class: "form-control", placeholder: "Tenant Name", required: true%> </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Tenant Phone No.</label>
                                                </div>
                                                <div class="col-md-6">
                                                   <p> <%= f.telephone_field :tenant_phone, class: "form-control", placeholder: "xxx-xxx-xxxx"%></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Tenant Email</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <%= f.email_field :tenant_email, class: "form-control", placeholder: "Tenant Email", required: true%>
                                                </div>
                                            </div>      
                                </div>

                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Last Delivery</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><%=@property.last_delivered%></p>
                                                </div>
                                            </div>       
                                </div>

                                <div class="tab-pane fade" id="address-details" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col" for="textinput">Property Name</label>
                                                <div class="col">
                                                    <%= f.text_field :prop_name, class: "form-control", placeholder: "Property Name"%>
                                                </div>
                                            </div>
                                            <!-- Address input-->
                                            <div class="form-group">
                                                <label class="col" for="textinput">Address</label>
                                                <div class="col">
                                                    <%= f.text_field :address, class: "form-control", placeholder: "Property Address", required: true, oninvalid:"alert('You must enter a property address.');"%>
                                                </div>
                                            </div>

                                            <!-- City input-->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="textinput">City</label>
                                                <div class="col-sm-10">
                                                    <%= f.text_field :city, class: "form-control", placeholder: "City", required: true, oninvalid:"alert('You must enter a city.');"%>
                                                </div>
                                            </div>

                                            <!-- State + zip code input-->
                                            <div class="form-row pl-3">
                                                    <div class="col-3">
                                                        <label class="control-label" for="textinput">State</label>
                                                        <%= f.text_field :state, class: "form-control", placeholder: "State", required: true, oninvalid:"alert('You must enter a state.');"%>
                                                    </div>
                                                    <div class="col-7">
                                                        <label class="control-label" for="textinput">Zip Code</label>
                                                        <%= f.text_field :zipcode, class: "form-control", placeholder: "Zip Code", required: true, oninvalid:"alert('You must enter a zip code.');"%>
                                                    </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                    <%= f.hidden_field :id, value: Property.find_by(id: params[:id]).id%>
                       <%= form_for(:anything, url: dash_path, method: :get) do |f| %>
                            <%=f.submit "Cancel", class: "btn btn-link px-5"%>
                        <%end%>
		                <%= f.submit "Save Changes", class: "btn btn-primary btn-sm col-sm-2" %>
                    </div>
     </div>
<%end%>
