
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <%# <div class="d-flex" id="wrapper"> %>

    <!-- Sidebar -->
     <nav id="sidebar">
            <%# <div class="logo">
                <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo">
            </div>
            <br> %>
        <div class="sidebar-header">
            <div class="logo">
                <a href="./dash">
                  <%= image_tag("logo_blue.jpg", :class=>"nav_logo")%>  
                </a>
            </div>
            <div class="user-info">
                <%= image_tag("astronaut2.gif", :class=>"nav_prof")%>
                <!--<h3>Welcome!</h3>-->
                <!--<strong>// User Name //</strong>-->
                <%@user = User.find_by(email: session[:email])%>
                <%if !@user.nil?%>
                <h3><%=User.find_by(email: session[:email]).first_name%> <%=User.find_by(email: session[:email]).last_name%></h3>
                <%end%>
            </div>
        </div>

        <ul class="list-unstyled components sticky-top">

            <li class="<%= 'active' if current_page?(dash_path) %>">
                <a href="/dash" role="button"><i class="fa fa-tachometer px-2"></i>Dashboard</a>
            </li>

            <li class="<%= 'active' if current_page?(orders_page_path) %>">
                <a href="/orders_page"><i class="fa fa-shopping-cart px-2"></i>Subscriptions</a>
            </li>

            <li class="<%= 'active' if current_page?(edit_user_registration_path) %>">
                <a href="/users/edit"><i class="fa fa-user px-2"></i>Profile</a>
            </li>

            <li>
                <%= link_to '<i class="fa fa-power-off px-2"></i> Log Out'.html_safe,destroy_user_session_path, method: :delete%>
            </li>

        </ul>

         <%# <%= link_to "Log Out",destroy_user_session_path, method: :delete %>
         

    </nav>

