<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5 animated fadeInUp">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
          

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"></span>
					<%= f.email_field :email,
						class: "form-control", 
						placeholder: "Email Address",
						required:"required"%> 
				</div>
				</div> 

				<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"></span>
				<%= f.password_field :password, 
						class: 'form-control',
						placeholder: "Password",
						required:"required"%> 
				</div>
				</div>   

				<%# if devise_mapping.rememberable? %>
    <%#<div class="field">%>
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    <%#</div>
  <%# end %>

			<%= f.submit "Log In", class: "btn btn-primary btn-block btn-lg" %>
			<%end%>
			<br>

			<div class="text-center">
            <%="Don't have an account?" %>
            <%= link_to "Sign up here.", '/users/sign_up', {:style=>'color:#007bff;'}%> 
          </div>
			<div class="text-center">
            <%="Forgot your password?" %>
            <%= link_to "Click here.", '/users/password/new', {:style=>'color:#007bff;'}%> 
          </div>
			<div class="text-center">
						<%- if devise_mapping.omniauthable? %>
  					<%- resource_class.omniauth_providers.each do |provider| %>
    					<br><%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-social btn-facebook btn-md' do %>
              <i class="fa fa-facebook"></i> | Connect with Facebook
              <% end %>
  					<% end %>
						<% end %>
					</div>
					
<%#= render "devise/shared/links" %>
</body>
</html>