<!DOCTYPE html>
<html>
<head>
  <title>Okapi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('logo_blue.png') %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div class='alert alert-<%= name %>'>
    <%= msg %>
  </div>
<%end%>
<%# <%= render 'shared/navbar' if session[:log] == 1%>
<%= yield %>


</body>
</html>


